* {
    box-sizing: border-box;
}
h1{
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
}

.box{
        font-family: Arial, Helvetica, sans-serif;
        width: 400px;
        height: 400px;
        margin: 10% auto;
        border: solid 10px rgba(0,0,0,0.9);
        padding: 60px;
        
}

body{
        background-color: pink;
}

.pratos img{
        width: 180px;
        height: 200px;  
        border-radius: 8px;
}

.pratos img:hover{
    transform: scale(1.5);
}
    


